body, h1, h2, p, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1b2838;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2a475e;
  border-radius: 5px;
  box-shadow: 0 0 10px #171a21;
}

h1 {
  text-align: center;
  color: #c7d5e0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  border: 1px solid #c7d5e0;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background-color: #66c0f4;
  color: #c7d5e0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#search-history {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #66c0f4;
}

#current-weather {
  color: #c7d5e0;
  background-color: #2a475e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #2a475e;
}

#forecast {
  color: #c7d5e0;
  display: flex; 
  justify-content: flex-start; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  margin-top: 20px;
  padding: 10px;
}

.forecast-item {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 10px; 
}
